# Mongo
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
MONGO_DB=inventory
FLASK_SECRET=supersecretkey

# Access
ACCESS_DB_PATH=C:\\path\\to\\Database1.accdb

# Live sync
SYNC_INTERVAL_SECONDS=60
